.custom-dropdown .btn-success {
    border: 2px solid green !important;
    background-color: white !important;
  }
  
  .custom-dropdown .dropdown-menu {
    border: 2px solid green !important;
    background-color: white !important;
  }
  
  .custom-dropdown .dropdown-item {
    color: black !important;
  }
  
  .custom-dropdown .dropdown-item:hover {
    background-color: lightgray !important;
  }
  